[Unit]
Description=This Website Does Not Exist
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/thiswebsitedoesnotexist
ExecStart=/usr/bin/node app.js
Restart=always
RestartSec=5
Environment=NODE_ENV=production
Environment=PORT=3721
EnvironmentFile=/opt/thiswebsitedoesnotexist/.env

[Install]
WantedBy=multi-user.target
