# {{ ansible_managed }}
# fail2ban SSH jails for Alpine Linux

[sshd]
enabled  = true
filter   = alpine-sshd
port     = ssh
logpath  = /var/log/messages
maxretry = {{ firewall_alpine_fail2ban_maxretry }}

[sshd-ddos]
enabled  = true
filter   = alpine-sshd-ddos
port     = ssh
logpath  = /var/log/messages
maxretry = {{ firewall_alpine_fail2ban_maxretry }}
